body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, rgb(214, 103, 214), rgb(69, 220, 69));
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
}

header{
    text-align: center;
}

.active{
    background-color: rgb(111, 121, 255);
    width: 150px;
    text-align: left;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color:rgb(111, 121, 255) ;
    width: 150px;
    text-align: left;
}

h1{
    background-color: black;
    padding: 10px;
    margin: 0;
    color: rgb(255,0,255);
}

footer{
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.nav-phone,.access-menu{
    display: none;
}

svg{
    margin-right: 10px;
    margin-bottom: 2px;
}
.div-opaco{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semitransparente */
    display: none;
}


@media (max-width: 1024px) {
    .access-menu{
        display: block;
    }
    .access-menu{
        color: white;
        width: 25px;
        height: 25px;
        float: right;
        margin-top: 0.5rem;
    }
    .nav-desktop{
        display: none;
    }
    .nav-phone {
        display: none;
        list-style: none;
        padding: 0;
    }
    .nav-phone.active {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: start;
        list-style-type: none;
        background-color: rgb(67, 67, 255);
        width: 180px;
        height: 100vh ;
        z-index: 1;
        margin: 0;
    }
    
    
    
}